{% extends "base.html" %}

{% block content %}
<section class="container py-5 form-container">
    <h1 class="text-center mb-4">Log out</h1>

    <p class="text-center mb-4">Are you sure you want to log out?</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <div class="d-flex gap-2 justify-content-center">
            <button type="submit" class="btn btn-danger">Log out</button>
            <a href="{% url 'store:home' %}" aria-label="Cancel and return to home page"
                class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</section>
{% endblock %}