{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="container my-4">
    <h1 class="mb-3 text-center">
        {% if is_create %}Add Variant{% else %}Edit Variant: {{ variant.sku }}{% endif %}
    </h1>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 mx-auto">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="d-flex gap-2">
                    <button class="btn btn-primary" type="submit">Save changes</button>
                    <a class="btn btn-outline-secondary" href="{% url 'store:manage_variants' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}